    <section class="content">
      <h2>MAKERS IN SPACE</h2>
      <p>Welcome to the ride of your life.</p>
      <p><%= 8 - Booking.all.count %> seats available</p>
      <%= render 'new' %>
    </section>